#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  
  display: grid;
  grid-template-rows: 120px 2fr 0.5fr;
  width: 100%;
  height: 100vh;

}

header {
  border: 2px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
header > * {
  margin: 10px;
}

#search-bar {
  width: 60%;
}

#cart-button {
  position: relative;
}

#cart-badge {
  position: absolute;
  bottom: 20px;
  left: 53px;
  background-color: red;
  color: white;
  min-width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border-radius: 999px;
}

main {
  border: 2px solid green;
  width: 100%;
  height: 100%;
  padding: 15px;
}
div #shop-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

div #shop-cards-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

div #game-card {
  padding: 15px;
  border: 2px solid green;
  margin: 25px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  align-items: center;
}

div #game-card>img {
  width: 30%;
  height: auto;
  
}

div#item-extended {
  padding: 30px;
}

div#item-extended>img {
  width: 200px;
  height: auto;
}

#cart-table {
  table-layout: fixed;
  
  width: 100%;
}

th, td {
  padding: 10px;
  border-top: 1px solid black;
  
}



footer {
  border: 2px solid blue;
  width: 100%;
  height: 100%;
  align-content: center;
  display: flex;
  place-content: center;
}

#footer-div-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 45%;
  height: auto;
  margin: 35px;
  
}

#footer-div-info>*, div #game-card>* {
  cursor: pointer;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  margin: 5px;
} */